.App {
  text-align: center;
  margin-bottom: 100px;
  overflow: auto;

}

.navbar-brand img {
    width: 60px;

}

/* .top-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
} */

header.masthead {
    padding-bottom: calc(10rem - 4.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 300px;
  }
  header.masthead h1 {
    font-size: 2.25rem;
  }
  header.masthead p {
    color: #fff;
  }
  @media (min-width: 992px) {
    header.masthead {
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }

  .list-footer {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    background-color: #fff;
    height: 60px;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    border-top: 1px solid #e1e1e1;
  }

  .list-footer li {
    color: #000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
  }

  .list-footer li:hover, .list-footer li:focus {
    background-color: aqua;
  }

  .list-footer li img {
    width: 40px;
    height: 30px;
  }

  .list-footer li a {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .list-footer li a.active {
    color: #e59b2c;
    background-color: aqua;
  }
  
  .list-card .card .card-img-top{
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .list-card .card {
    position: relative;
  }

  .sale-number {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 0;
    font-weight: bold;
  }

  .list-card .card .card-body {
   padding: 10px;
  }

  .list-card .card .link-buy {
    background-color: #ff9800;
  }

  .list-card .card .link-buy a{
    color: #fff;
  }

  .alert-warning {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .about {
    background-color: #36b6f04d;
    height: calc(100vh - 60px);
  }

  .about button img {
    width: 20px;
    height: 20px;
  }

  .top-about {
    padding: 20px 0;
    background-color: #fff;
    position: relative;
  }

  .about .btn-edit {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #e1e1e1;
  }

  .top-about .thumnail {
    display: flex;
  }

  .top-about .thumnail img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .tiem-content-about {
    margin-top: 15px;
    background-color: #fff;
    padding: 20px 0;
  }

  .tiem-content-about p {
    display: flex;
    justify-content: space-between;
  }